{% extends 'useradmin/base.html' %} {% load static %} {% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Lista de Produtos</h2>
            <p>
                Você possui {{all_products.count}} produtos cadastrados em seu
                catálogo.
            </p>
        </div>
        <div>
            <a href="#" class="btn btn-light rounded font-md">Exportar</a>
            <a href="#" class="btn btn-light rounded font-md">Importar</a>
            <a
                href="{% url 'useradmin:add-product' %}"
                class="btn btn-primary btn-sm rounded"
                >Criar novo</a
            >
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col col-check flex-grow-0">
                    <div class="form-check ms-2">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                        />
                    </div>
                </div>
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <select class="form-select">
                        <option selected>Todas as categorias</option>
                        <option>Eletrônicos</option>
                        <option>Roupas</option>
                        <option>Automóveis</option>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <input
                        type="date"
                        value="02.05.2021"
                        class="form-control"
                    />
                </div>
                <div class="col-md-2 col-6">
                    <select class="form-select">
                        <option selected>Status</option>
                        <option>Ativo</option>
                        <option>Desativado</option>
                        <option>Mostrar todos</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            {% for p in all_products %}
            <article class="itemlist">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                        <a class="itemside" href="#">
                            <div class="left">
                                <img
                                    src="{{p.imagem.url}}"
                                    class="img-sm img-thumbnail"
                                    alt="Item"
                                />
                            </div>
                            <div class="info">
                                <h6 class="mb-0">{{p.titulo}}</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-price">
                        <span>R${{p.preco}}</span>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                        <span class="badge alert-success">{{p.status}}</span>
                    </div>
                    <div class="col-lg-1 col-sm-2 col-4 col-date">
                        <span>{{p.data|date:"d M, Y"}}</span>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                        <a
                            href="#"
                            class="btn btn-sm font-sm rounded btn-brand"
                        >
                            <i class="material-icons md-edit"></i> Editar
                        </a>
                        <a
                            href="#"
                            class="btn btn-sm font-sm btn-light rounded"
                        >
                            <i class="material-icons md-delete_forever"></i>
                            Deletar
                        </a>
                    </div>
                </div>
                <!-- row .// -->
            </article>
            {% endfor %}
            <!-- itemlist  .// -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active">
                    <a class="page-link" href="#">01</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">02</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">03</a>
                </li>
                <li class="page-item">
                    <a class="page-link dot" href="#">...</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">16</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"
                        ><i class="material-icons md-chevron_right"></i
                    ></a>
                </li>
            </ul>
        </nav>
    </div>
</section>

{% endblock content %}
