{% extends 'partials/base.html' %} {% load static %} {% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"
                    ><i class="fi-rs-home mr-5"></i>Home</a
                >
                <span></span> Pages <span></span> About us
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">
                        <div class="col-lg-6">
                            <img
                                src="assets/imgs/page/about-1.png"
                                alt=""
                                class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4"
                            />
                        </div>
                        <div class="col-lg-6">
                            <div class="pl-25">
                                <h2 class="mb-30">Bem Vindo a Organyxhub</h2>
                                <p class="mb-25">
                                    Estamos muito felizes em tê-lo como parte da
                                    nossa comunidade! Aqui na OrganyxHub,
                                    acreditamos que cada conexão pode gerar
                                    impacto positivo, e você acaba de dar um
                                    passo importante para transformar suas
                                    ideias e valores em ação. Nossa plataforma
                                    foi criada para unir consumidores
                                    conscientes e produtores comprometidos com a
                                    sustentabilidade e o respeito à diversidade.
                                </p>
                                <p class="mb-50">
                                    Explore produtos únicos, apoie pequenos
                                    empreendedores e contribua para um mundo
                                    mais equilibrado e ético. Se precisar de
                                    qualquer ajuda, nossa equipe está sempre à
                                    disposição. Vamos juntos construir um futuro
                                    melhor! Seja bem-vindo(a) e aproveite sua
                                    jornada conosco!
                                    <p>OrganyxHub - Conectando
                                    você ao que realmente importa.</p>
                                </p>
                                <div
                                    class="carausel-3-columns-cover position-relative"
                                >
                                    <div id="carausel-3-columns-arrows"></div>
                                    <div
                                        class="carausel-3-columns"
                                        id="carausel-3-columns"
                                    >
                                        <img
                                            src="assets/imgs/page/about-2.png"
                                            alt=""
                                        />
                                        <img
                                            src="assets/imgs/page/about-3.png"
                                            alt=""
                                        />
                                        <img
                                            src="assets/imgs/page/about-4.png"
                                            alt=""
                                        />
                                        <img
                                            src="assets/imgs/page/about-2.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="text-center mb-50">
                        <h2 class="title style-3 mb-40">O Que Oferecemos?</h2>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img
                                        src="assets/imgs/theme/icons/icon-1.svg"
                                        alt=""
                                    />
                                    <h4>Melhores Preços e Ofertas</h4>
                                    <p>
                                        Encontre preços incríveis e ofertas imperdíveis todos os dias! Na nossa plataforma, economia e qualidade andam lado a lado.
                                    </p>
                                    <a href="#">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img
                                        src="assets/imgs/theme/icons/icon-2.svg"
                                        alt=""
                                    />
                                    <h4>Variedade de Produtos</h4>
                                    <p>
                                        Explore uma ampla seleção de produtos que atendem a todos os gostos e necessidades. Aqui, a diversidade é garantida!
                                    </p>
                                    <a href="#">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img
                                        src="assets/imgs/theme/icons/icon-3.svg"
                                        alt=""
                                    />
                                    <h4>Entregas</h4>
                                    <p>
                                        Receba suas compras com agilidade e segurança. Cuidamos de cada detalhe para garantir que você tenha a melhor experiência.
                                    </p>
                                    <a href="#">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img
                                        src="assets/imgs/theme/icons/icon-4.svg"
                                        alt=""
                                    />
                                    <h4>Reembolso Facilitado</h4>
                                    <p>
                                        Compra sem preocupações: oferecemos um processo de reembolso rápido e descomplicado, porque sua tranquilidade é nossa prioridade.
                                    </p>
                                    <a href="#">Saba Mais</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img
                                        src="assets/imgs/theme/icons/icon-5.svg"
                                        alt=""
                                    />
                                    <h4>100% de Satisfação</h4>
                                    <p>
                                        Nosso compromisso é com você! Garantimos sua satisfação em cada compra realizada em nossa plataforma.
                                    </p>
                                    <a href="#">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img
                                        src="assets/imgs/theme/icons/icon-6.svg"
                                        alt=""
                                    />
                                    <h4>Grande Oferta do Dia</h4>
                                    <p>
                                        Não perca! Confira nossa Grande Oferta do Dia e aproveite descontos exclusivos por tempo limitado!
                                    </p>
                                    <a href="#">Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="row align-items-center mb-50">
                        <div class="row mb-50 align-items-center">
                            <div class="col-lg-7 pr-30">
                                <img
                                    src="assets/imgs/page/about-5.png"
                                    alt=""
                                    class="mb-md-3 mb-lg-0 mb-sm-4"
                                />
                            </div>
                            <div class="col-lg-5">
                                <h4 class="mb-20 text-muted">
                                    Nosso desempenho
                                </h4>
                                <h1 class="heading-1 mb-40">
                                    Seu parceiro para um marketplace sustentável.
                                </h1>
                                <p class="mb-30">
                                    Na OrganyxHub, acreditamos que um mundo melhor começa com escolhas conscientes. Por isso, nos dedicamos a ser o seu parceiro de confiança na criação de um marketplace sustentável.
                                </p>
                                <p>
                                    Nossa plataforma conecta consumidores comprometidos com a sustentabilidade a pequenos produtores e empreendedores sociais que compartilham o mesmo propósito. Juntos, promovemos práticas responsáveis, incentivamos o consumo ético e valorizamos produtos que respeitam o meio ambiente e as pessoas.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                <h3 class="mb-30">Quem Somos Nós</h3>
                                <p>
                                    Somos a OrganyxHub, uma plataforma que acredita no poder da colaboração e da sustentabilidade para transformar o mundo. Nossa missão é conectar consumidores conscientes a produtores e empreendedores que compartilham o mesmo compromisso com práticas éticas e responsáveis.

                                    Nosso objetivo é criar um marketplace que vai além da simples compra e venda. Queremos ser um ponto de encontro para pessoas que valorizam a transparência, o respeito ao meio ambiente e a inclusão social. Cada produto, cada interação e cada escolha na OrganyxHub reflete nosso propósito de construir um futuro mais justo e sustentável.

                                    Com uma equipe dedicada e apaixonada pelo que faz, buscamos constantemente inovar e oferecer soluções que atendam às necessidades de nossos usuários, promovendo impacto positivo em escala. Junte-se a nós nessa jornada e faça parte de uma comunidade que acredita em fazer a diferença!
                                </p>
                            </div>
                            <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                <h3 class="mb-30">Nossa História</h3>
                                <p>
                                    A OrganyxHub nasceu de um sonho: conectar pessoas e negócios que compartilham valores éticos e sustentáveis. Percebemos a necessidade de um espaço onde consumidores conscientes pudessem encontrar produtos que realmente fazem a diferença, ao mesmo tempo em que pequenos produtores e empreendedores sociais ganhassem visibilidade e reconhecimento.

                                    Desde o início, nossa jornada foi guiada pela vontade de transformar a maneira como as pessoas consomem e interagem no mercado. Começamos com uma ideia simples, mas com um propósito grandioso: criar um ambiente que promova práticas responsáveis, respeite o meio ambiente e valorize a diversidade em todas as suas formas.

                                    Ao longo do caminho, enfrentamos desafios, aprendemos com eles e crescemos. Hoje, somos mais do que uma plataforma de marketplace; somos uma comunidade comprometida em construir um futuro mais sustentável. Nossa história é feita por cada pessoa que acredita nesse propósito e se junta a nós para tornar o mundo um lugar melhor.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="mb-30">Nossa Missão</h3>
                                <p>
                                    Conectar pessoas a um consumo consciente e sustentável, promovendo um marketplace que valorize práticas éticas, respeite o meio ambiente e fortaleça pequenos produtores e empreendedores sociais.

                                    Queremos ser a ponte entre aqueles que buscam fazer escolhas mais responsáveis e os negócios que compartilham o compromisso com um futuro mais justo. Nossa missão é transformar cada compra em um ato de impacto positivo, incentivando a construção de uma sociedade mais equilibrada e inclusiva.

                                    Com inovação, transparência e propósito, trabalhamos para criar um ambiente que inspire mudanças e possibilite conexões significativas, contribuindo para um mundo melhor para todos.
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <section class="container mb-50 d-none d-md-block">
            <div class="row about-count">
                <div class="col-lg-1-5 col-md-6 text-center mb-lg-0 mb-md-5">
                    <h1 class="heading-1"><span class="count">2</span>+</h1>
                    <h4>Anos Gloriosos</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">300</span>+</h1>
                    <h4>Clientes Satisfeitos</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">58</span>+</h1>
                    <h4>Vendedores Cadastrados</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">24</span>+</h1>
                    <h4>Membros da Equipe</h4>
                </div>
                <div class="col-lg-1-5 text-center d-none d-lg-block">
                    <h1 class="heading-1"><span class="count">2600</span>+</h1>
                    <h4>Produtos Vendidos</h4>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="mb-50">
                        <h2 class="title style-3 mb-40 text-center">
                            Nosso Time
                        </h2>
                        <div class="row">
                            <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                                <h6 class="mb-5 text-brand">Nosso Time</h6>
                                <h1 class="mb-30">Conheça Nosso Time de Experts</h1>
                                <p class="mb-30">
                                    Na OrganyxHub, contamos com um time de especialistas dedicados e apaixonados pelo que fazem. Cada membro traz conhecimento, experiência e criatividade para garantir que nossa plataforma ofereça soluções inovadoras e alinhadas com os princípios de sustentabilidade e consumo consciente.
                                </p>
                                <p class="mb-30">
                                    Juntos, trabalhamos para conectar você a um marketplace que transforma valores em ações, com foco na excelência, ética e impacto positivo. Nossa equipe está sempre pronta para superar desafios e criar novas oportunidades para todos os envolvidos na nossa comunidade.
                                </p>
                                <a href="#" class="btn">Ver Toda a Equipe</a>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="team-card">
                                            <img
                                                src="assets/imgs/page/about-6.png"
                                                alt=""
                                            />
                                            <div class="content text-center">
                                                <h4 class="mb-5">Dan Marques</h4>
                                                <span>CEO & Fundador</span>
                                                <div
                                                    class="social-network mt-20"
                                                >
                                                    <a href="#"
                                                        ><img
                                                            src="assets/imgs/theme/icons/icon-facebook-brand.svg"
                                                            alt=""
                                                    /></a>
                                                    <a href="#"
                                                        ><img
                                                            src="assets/imgs/theme/icons/icon-twitter-brand.svg"
                                                            alt=""
                                                    /></a>
                                                    <a href="#"
                                                        ><img
                                                            src="assets/imgs/theme/icons/icon-instagram-brand.svg"
                                                            alt=""
                                                    /></a>
                                                    <a href="#"
                                                        ><img
                                                            src="assets/imgs/theme/icons/icon-youtube-brand.svg"
                                                            alt=""
                                                    /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="team-card">
                                            <img
                                                src="assets/imgs/page/about-8.png"
                                                alt=""
                                            />
                                            <div class="content text-center">
                                                <h4 class="mb-5">
                                                    Raphael Dias
                                                </h4>
                                                <span>CFO & Co-Fundador</span>
                                                <div
                                                    class="social-network mt-20"
                                                >
                                                    <a href="#"
                                                        ><img
                                                            src="assets/imgs/theme/icons/icon-facebook-brand.svg"
                                                            alt=""
                                                    /></a>
                                                    <a href="#"
                                                        ><img
                                                            src="assets/imgs/theme/icons/icon-twitter-brand.svg"
                                                            alt=""
                                                    /></a>
                                                    <a href="#"
                                                        ><img
                                                            src="assets/imgs/theme/icons/icon-instagram-brand.svg"
                                                            alt=""
                                                    /></a>
                                                    <a href="#"
                                                        ><img
                                                            src="assets/imgs/theme/icons/icon-youtube-brand.svg"
                                                            alt=""
                                                    /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
