{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<main class="main" id="cart-list">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Loja
                <span></span> Carrinho
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-50">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if errors %}
            <div class="alert alert-danger">
                <h3>Erros no Carrinho:</h3>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Seu Carrinho</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">Há <span class="text-brand">{{ totalcartitems }}</span> produtos em seu carrinho</h6>
                    <h6 class="text-body"><a href="#" class="text-muted"><i class="fi-rs-trash mr-5"></i>Esvaziar Carrinho</a></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive shopping-summery">
                    <table class="table table-wishlist">
                        <thead>
                            <tr class="main-heading">
                                <th class="custome-checkbox start pl-30">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11">
                                    <label class="form-check-label" for="exampleCheckbox11"></label>
                                </th>
                                <th scope="col" colspan="1">Produto</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Preço Unitário</th>
                                <th scope="col" class="text-center">Quantidade</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Refresh</th>
                                <th scope="col" class="end">Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product_id, item in cart_data.items %}
                            <tr class="pt-30">
                                <td class="custome-checkbox pl-30">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox{{forloop.counter}}" value="">
                                    <label class="form-check-label" for="exampleCheckbox{{forloop.counter}}"></label>
                                </td>
                                <td class="image product-thumbnail pt-40"><img src="{{ item.image }}" alt="{{ item.title }}"></td>
                                <td class="product-des product-name">
                                    <h6 class="mb-5"><a class="product-name mb-10 text-heading" href="{% url 'core:product-detail' item.pid %}">{{ item.title }}</a></h6>
                                </td>
                                <td class="price" data-title="Price">
                                    <h4 class="text-body">R${{ item.price }}</h4>
                                </td>
                                <td class="text-center detail-info" data-title="Stock">
                                    <div class="detail-extralink mr-15">
                                        <div class="detail-qty border radius">
                                            <a href="#" class="qty-down" data-product-id="{{product_id}}"><i class="fi-rs-angle-small-down"></i></a>
                                                <input type="number" class="qty-val" value="{{ item.qty }}" min="1" data-product-id="{{product_id}}">
                                            <a href="#" class="qty-up" data-product-id="{{product_id}}"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="price" data-title="Price">
                                    <h4 class="text-brand" id="subtotal-{{product_id}}">R${% widthratio item.price 1 item.qty %}</h4>
                                </td>
                                <!--<td class="action text-center" data-title="Refresh"><a href="#" class="text-body"><i class="fi-rs-refresh"></i></a></td>-->
                                <td class="action text-center" data-title="Refresh"><button style="border: none; background: none;" class="text-body update-product" data-product="{{product_id}}"><i class="fi-rs-refresh"></i></button></td>
                                <td class="action text-center" data-title="Remove"><button style="border: none; background: none;" class="text-body delete-product" data-product="{{product_id}}"><i class="fi-rs-trash"></i></button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="divider-2 mb-30"></div>
                <div class="cart-action d-flex justify-content-between">
                    <a class="btn " href="{% url 'core:product-list' %}"><i class="fi-rs-arrow-left mr-10"></i>Continuar Comprando</a>
                    <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-refresh mr-10"></i>Atualizar Carrinho</a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="border p-md-4 cart-totals ml-30">
                    <div class="table-responsive">
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Subtotal</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end">R${{ cart_total_amount }}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Frete</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h5 class="text-heading text-end">Grátis</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Total</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end">R${{ cart_total_amount }}</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% if totalcartitems %}
                   <a href="{% url 'core:checkout' %}" class="btn mb-20 w-100">Prosseguir para o Checkout<i class="fi-rs-sign-out ml-15"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
