{% extends 'partials/base.html' %}
{% load static django_vite %}
{% block content %}

<div id="react-category-product-list-page" data-categoria="{{ categoria.titulo }}" data-count="{{ produtos.count }}"
    data-produtos='[
            {% for p in produtos %}
            {
                "id": "{{ p.id|escapejs }}",
                "pid": "{{ p.pid|escapejs }}",
                "titulo": "{{ p.titulo|escapejs }}",
                "imagem": "{% if p.imagem %}{{ p.imagem.url|escapejs }}{% endif %}",
                "categoria_titulo": "{{ p.categoria.titulo|escapejs }}",
                "media_avaliacoes": "{{ p.media_avaliacoes|escapejs }}",
                "vendedor_titulo": "{% if p.vendedor %}{{ p.vendedor.title|escapejs }}{% endif %}",
                "preco": "{{ p.preco|escapejs }}",
                "preco_antigo": "{{ p.preco_antigo|escapejs }}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]'></div>

{% vite_hmr_client %}
{% vite_asset 'src/category_product_list.jsx' %}

{% endblock content %}