{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Loja
                <span></span> Checkout
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Checkout</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">Você possui <span class="text-brand">{{ totalcartitems }}</span> produtos em seu carrinho</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="row mb-50">

                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row">
                    <h4 class="mb-30">Detalhes de cobrança</h4>
                    <form method="post">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input type="text" required="" name="fname" placeholder="Nome *">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="text" required="" name="lname" placeholder="Sobrenome *">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input type="text" name="billing_address" required="" placeholder="Endereço *">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="text" name="billing_address2" required="" placeholder="Endereço 2">
                            </div>
                        </div>
                        <div class="row shipping_calculator">
                            <div class="form-group col-lg-6">
                                <div class="custom_select">
                                    <select class="form-control select-active">
                                        <option value="">Selecione uma Opção...</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <input required="" type="text" name="city" placeholder="Cidade *">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input required="" type="text" name="zipcode" placeholder="CEP *">
                            </div>
                            <div class="form-group col-lg-6">
                                <input required="" type="text" name="phone" placeholder="Telefone *">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input required="" type="text" name="cname" placeholder="Empresa">
                            </div>
                            <div class="form-group col-lg-6">
                                <input required="" type="text" name="email" placeholder="Endereço de Email *">
                            </div>
                        </div>
                        <div class="form-group mb-30">
                            <textarea rows="5" placeholder="Informações Adicionais"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="createaccount">
                                    <label class="form-check-label label_info" data-bs-toggle="collapse" href="#collapsePassword" data-target="#collapsePassword" aria-controls="collapsePassword" for="createaccount"><span>Criar uma conta?</span></label>
                                </div>
                            </div>
                        </div>
                        <div id="collapsePassword" class="form-group create-account collapse in">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input required="" type="password" placeholder="Password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="ship_detail">
                            <div class="form-group">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="differentaddress">
                                        <label class="form-check-label label_info" data-bs-toggle="collapse" data-target="#collapseAddress" href="#collapseAddress" aria-controls="collapseAddress" for="differentaddress"><span>Entregar em um endereço diferente?</span></label>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseAddress" class="different_address collapse in">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" required="" name="fname" placeholder="Nome *">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="text" required="" name="lname" placeholder="Sobrenome *">
                                    </div>
                                </div>
                                <div class="row shipping_calculator">
                                    <div class="form-group col-lg-6">
                                        <input required="" type="text" name="cname" placeholder="Nome da Empresa">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <div class="custom_select w-100">
                                            <select class="form-control select-active">
                                                <option value="">Selecione uma Opção...</option>
                                                <option value="AC">Acre</option>
                                                <option value="AL">Alagoas</option>
                                                <option value="AP">Amapá</option>
                                                <option value="AM">Amazonas</option>
                                                <option value="BA">Bahia</option>
                                                <option value="CE">Ceará</option>
                                                <option value="DF">Distrito Federal</option>
                                                <option value="ES">Espírito Santo</option>
                                                <option value="GO">Goiás</option>
                                                <option value="MA">Maranhão</option>
                                                <option value="MT">Mato Grosso</option>
                                                <option value="MS">Mato Grosso do Sul</option>
                                                <option value="MG">Minas Gerais</option>
                                                <option value="PA">Pará</option>
                                                <option value="PB">Paraíba</option>
                                                <option value="PR">Paraná</option>
                                                <option value="PE">Pernambuco</option>
                                                <option value="PI">Piauí</option>
                                                <option value="RJ">Rio de Janeiro</option>
                                                <option value="RN">Rio Grande do Norte</option>
                                                <option value="RS">Rio Grande do Sul</option>
                                                <option value="RO">Rondônia</option>
                                                <option value="RR">Roraima</option>
                                                <option value="SC">Santa Catarina</option>
                                                <option value="SP">São Paulo</option>
                                                <option value="SE">Sergipe</option>
                                                <option value="TO">Tocantins</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="billing_address" required="" placeholder="Endereço *">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="billing_address2" required="" placeholder="Endereço 2 (opcional)">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <input required="" type="text" name="state" placeholder="Cidade *">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input required="" type="text" name="city" placeholder="Estado *">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <input required="" type="text" name="zipcode" placeholder="CEP *">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="border p-40 cart-totals ml-30 mb-50">
                    <div class="d-flex align-items-end justify-content-between mb-30">
                        <h4>Seu Pedido</h4>
                        <h6 class="text-muted">Subtotal: <span class="text-brand">R${{cart_total_amount|floatformat:2}}</span></h6>
                    </div>
                    <div class="divider-2 mb-30"></div>
                    <a href="{% url 'core:cart' %}" class="btn btn-fill-out btn-block mt-30 mb-40">Voltar ao Carrinho</a>
                    <div class="table-responsive order_table checkout">
                        <table class="table no-border">
                            <tbody>
                                {% for product_id, item in cart_data.items %}
                                <tr>
                                    <td class="image product-thumbnail"><img style="aspect-ratio: 1/1; object-fit: cover;" src="{{ item.image }}" alt="#"></td>
                                    <td>
                                        <h6 class="w-160 mb-5"><a href="{% url 'core:product-detail' item.pid %}" class="text-heading">{{ item.title }}</a></h6></span>
                                    </td>
                                    <td>
                                        <h6 class="text-muted pl-20 pr-20">X{{item.qty}}</h6>
                                    </td>
                                    <td>
                                        <h5 class="text-muted">R${{item.price}}</h5>
                                    </td>
                                    <td>
                                        <h5 class="text-brand">R${{item.subtotal|floatformat:2}}</h5>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">Subtotal</td>
                                    <td class="cart_total_amount text-brand">R${{cart_total_amount}}</td>
                                </tr>
                                {% if order and order.coupons.all %}
                                    {% for coupon in order.coupons.all %}
                                    <tr>
                                        <td class="cart_total_label">Cupom ({{ coupon.codigo }})</td>
                                        <td class="cart_total_amount text-danger">-{{coupon.desconto}}%</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="cart_total_label">Desconto Total</td>
                                        <td class="cart_total_amount text-danger">
                                            -R${{order.get_discount_amount|floatformat:2}}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                <td class="text-brand"><strong>Total Final</strong></td>
                                <td class="cart_total_amount">
                                    <strong class="text-brand">
                                        {% if order and order.coupons.all %}
                                            <span class="text-decoration-line-through text-muted me-2">
                                                R${{cart_total_amount|floatformat:2}}
                                            </span>
                                            <span class="text-success">
                                                R${{order.preco|floatformat:2}}
                                            </span>
                                        {% else %}
                                            R${{cart_total_amount|floatformat:2}}
                                        {% endif %}
                                    </strong>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="payment ml-30">
                    <h4 class="mb-30">Pagamento</h4>
                    <div class="payment_option">
                        <button type="button" class="btn w-100" id="checkout-button" style="background-color: blueviolet;">Pagar com o Stripe (Cartão de Crédito)</button>
                        <button type="button" class="btn w-100" style="background-color: rgb(50, 188, 173); color: white;">Pagar com Pix</button>
                        <div id="paypal-button-container">
                        </div>
                    </div>
                     <br>
                    <div>
                        <form method="POST" class="apply-coupon">
                            {% csrf_token %}
                            <input type="text" name="codigo" placeholder="Entre com o código promocional...">
                            <button class="btn btn-md" type="submit">Resgatar</button>
                        </form>
                    </div>
                    <br>
                    <div class="payment-logo d-flex">
                        <img class="mr-15" src="{% static 'assets/imgs/theme/icons/payment-paypal.svg' %}" alt="">
                        <img class="mr-15" src="{% static 'assets/imgs/theme/icons/payment-visa.svg' %}" alt="">
                        <img class="mr-15" src="{% static 'assets/imgs/theme/icons/payment-master.svg' %}" alt="">
                        <img src="{% static 'assets/imgs/theme/icons/payment-zapper.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://www.paypal.com/sdk/js?client-id=ActiYRgid4P6FwWy3KerAY3kDkxgu7oSkL_Vtxya4KYFZHlLdazU2MpcOsJDoFxEBix30Pv9FOaZjo-I&currency=BRL"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            const cartItems = JSON.parse('{{ cart_data|escapejs }}');
            const items = [];

            if (Object.keys(cartItems).length === 0) {
                console.error("Cart is empty");
                alert("Seu carrinho está vazio. Por favor, adicione itens ao carrinho.");
                return;
            }

            for (const [productId, item] of Object.entries(cartItems)) {
                const price = parseFloat(item.price.replace(",", "."));
                if (isNaN(price) || item.qty <= 0 || !item.title) {
                    console.error("Invalid cart item:", item);
                    alert("Seu carrinho contém itens inválidos.");
                    return;
                }
                items.push({
                    name: item.title,
                    quantity: item.qty,
                    unit_amount: {
                        value: price,
                        currency_code: 'BRL'
                    }
                });
            }

            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: "{{ order.preco|floatformat:2 }}".replace(",", "."),
                        currency_code: 'BRL'
                    },
                    items: items
                }]
            }).catch(function(error) {
                console.error('Error creating order:', error);
                alert('Erro ao criar o pedido. Por favor, tente novamente mais tarde.');
            });
        },
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                console.log(details);
                if (details.status === "COMPLETED") {
                    const redirectUrl = '/payment-completed/' + details.purchase_units[0].payments.captures[0].id;
                    window.location.href = redirectUrl;
                } else {
                    console.error("Payment not completed:", details);
                }
            }).catch(function(error) {
                console.error('Error capturing order:', error);
            });
        },
        onError: function(error) {
            console.error('PayPal error:', error);
        }
    }).render('#paypal-button-container');
</script>

{% endblock content %}
