{% extends 'partials/base.html' %}
{% load static core_template_tags %}
{% block content %}
    <div 
        id="react-checkout-page" 
        data-csrf="{{ csrf_token }}"
        data-totalcartitems="{{ totalcartitems }}"
        data-carttotalamount="{{ cart_total_amount|floatformat:2|safe|default:'0' }}"
        data-shippingcost="{{ shipping_cost|floatformat:2|safe|default:'0' }}"
        data-taxamount="{{ tax_amount|floatformat:2|safe|default:'0' }}"
        data-finalamount="{{ final_amount|floatformat:2|safe|default:'0' }}"
        data-stripe-key="{{ stripe_publishable_key }}"
        data-oid="{{ oid }}"
        data-order='{
            "nome": "{{ order.nome|escapejs }}",
            "email": "{{ order.email|escapejs }}",
            "endereco": "{{ order.endereco|escapejs }}",
            "estado": "{{ order.estado|escapejs }}",
            "cidade": "{{ order.cidade|escapejs }}",
            "cep": "{{ order.cep|escapejs }}",
            "telefone": "{{ order.telefone|escapejs }}",
            "informacoes_adicionais": "{{ order.informacoes_adicionais|escapejs }}"
        }'
        data-endereco='{
            "complemento": "{{ endereco.complemento|escapejs }}",
            "bairro": "{{ endereco.bairro|escapejs }}",
            "numero": "{{ endereco.numero|escapejs }}"
        }'
        {% comment %} Ditch items obj loop into a proper json string {% endcomment %}
        data-cart='{
            {% for product_id, item in cart_data.items %}
            "{{ product_id }}": {
                "pid": "{{ item.pid }}",
                "title": "{{ item.title|escapejs }}",
                "image": "{{ item.image|escapejs }}",
                "qty": "{{ item.qty }}",
                "price": "{{ item.price }}",
                "subtotal": "{{ item.subtotal }}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        }'
    ></div>
{% endblock content %}
{% block extrajs %}
    <!-- Keep the global SDKs so React can initialize them -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AUeZJX-aqir88NyR8g3c3u17mbsnji-NaUaR4iUTnoc5w9PBypCTm4lx7ngDoeYKNJM0xc3QvUkBShbK&currency=BRL"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}