{% extends 'partials/base.html' %} {% load static %} {% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"
                    ><i class="fi-rs-home mr-5"></i>Início</a
                >
                <span></span> Páginas <span></span> Contato
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-end mb-50">
                        <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                            <h4 class="mb-20 text-brand">
                                Como podemos ajudar?
                            </h4>
                            <h1 class="mb-30">
                                Deixe-nos saber como podemos ajudar você
                            </h1>
                            <p class="mb-20">
                                Estamos aqui para oferecer suporte em todas as
                                suas necessidades. Entre em contato conosco para
                                esclarecer dúvidas, resolver problemas ou
                                compartilhar sugestões.
                            </p>
                            <p>
                                Sua opinião é essencial para aprimorarmos
                                continuamente nossos serviços.
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <h5 class="mb-20">
                                        01. Feedback da Visita
                                    </h5>
                                    <p>
                                        Permita que seus usuários compartilhem
                                        experiências e opiniões sobre a
                                        plataforma. Este espaço é dedicado para
                                        avaliar a navegação, os produtos e os
                                        serviços, ajudando a melhorar
                                        continuamente a qualidade e a satisfação
                                        de todos.
                                    </p>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <h5 class="mb-20">
                                        02. Serviços ao Empregador
                                    </h5>
                                    <p>
                                        Oferecemos suporte personalizado para
                                        empregadores, desde a criação de
                                        anúncios atrativos até a gestão de
                                        candidatos. Nossos serviços garantem
                                        eficiência e uma experiência
                                        simplificada para recrutar talentos ou
                                        encontrar parceiros.
                                    </p>
                                </div>
                                <div class="col-lg-6 mb-lg-0 mb-4">
                                    <h5 class="mb-20 text-brand">
                                        03. Dúvidas sobre Cobrança
                                    </h5>
                                    <p>
                                        Encontre respostas rápidas para questões
                                        relacionadas a pagamentos, taxas,
                                        reembolsos e outros assuntos
                                        financeiros. Nossa equipe está pronta
                                        para esclarecer qualquer dúvida sobre os
                                        processos de cobrança da plataforma.
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="mb-20">04.Perguntas Gerais</h5>
                                    <p>
                                        Seja para informações básicas ou
                                        detalhes específicos, esta seção cobre
                                        tudo o que você precisa saber sobre a
                                        plataforma. Explore as perguntas mais
                                        frequentes ou entre em contato com o
                                        suporte para assistência personalizada.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <section class="container mb-50 d-none d-md-block text-center">
            <div class="border-radius-0 overflow-hidden">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.319855422496!2d-46.661542623134004!3d-23.556953161433135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59ccf12e5007%3A0x394b02124900517c!2sR.%20Augusta%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1736422874284!5m2!1spt-BR!2sbr"
                    width="1200"
                    height="400"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="mb-50">
                        <div class="row mb-60">
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h4 class="mb-15 text-brand">Escritório</h4>
                                205 North Michigan Avenue, Suite 810<br />
                                Chicago, 60601, USA<br />
                                <abbr title="Telefone">Telefone:</abbr> (123)
                                456-7890<br />
                                <abbr title="Email">Email: </abbr
                                >contatot@organyx.com<br />
                                <a
                                    class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"
                                    ><i class="fi-rs-marker mr-5"></i>Ver
                                    mapa</a
                                >
                            </div>
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h4 class="mb-15 text-brand">Estúdio</h4>
                                205 North Michigan Avenue, Suite 810<br />
                                Chicago, 60601, USA<br />
                                <abbr title="Telefone">Telefone:</abbr> (123)
                                456-7890<br />
                                <abbr title="Email">Email: </abbr
                                >contact@Evara.com<br />
                                <a
                                    class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"
                                    ><i class="fi-rs-marker mr-5"></i>Ver
                                    mapa</a
                                >
                            </div>
                            <div class="col-md-4">
                                <h4 class="mb-15 text-brand">Loja</h4>
                                205 North Michigan Avenue, Suite 810<br />
                                Chicago, 60601, USA<br />
                                <abbr title="Telefone">Telefone:</abbr> (123)
                                456-7890<br />
                                <abbr title="Email">Email: </abbr
                                >contact@Evara.com<br />
                                <a
                                    class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"
                                    ><i class="fi-rs-marker mr-5"></i>Ver
                                    mapa</a
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                                <div
                                    class="contact-from-area padding-20-row-col"
                                >
                                    <h5 class="text-brand mb-10">
                                        Formulário de Contato
                                    </h5>
                                    <h2 class="mb-10">
                                        Envie-nos uma mensagem
                                    </h2>
                                    <p class="text-muted mb-30 font-sm">
                                        Seu endereço de email não será
                                        publicado. Campos obrigatórios são
                                        marcados com *
                                    </p>
                                    <form
                                        class="contact-form-style mt-30"
                                        id="contact-form-ajax"
                                        action="#"
                                        method="POST"
                                    >
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input
                                                        name="nome"
                                                        id="nome"
                                                        placeholder="Nome"
                                                        type="text"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input
                                                        name="email"
                                                        id="email"
                                                        placeholder="Seu Email"
                                                        type="email"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input
                                                        name="telefone"
                                                        id="telefone"
                                                        placeholder="Seu Telefone"
                                                        type="tel"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input
                                                        name="assunto"
                                                        id="assunto"
                                                        placeholder="Assunto"
                                                        type="text"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div
                                                    class="textarea-style mb-30"
                                                >
                                                    <textarea
                                                        name="mensagem"
                                                        id="mensagem"
                                                        placeholder="Mensagem"
                                                    ></textarea>
                                                </div>
                                                <button
                                                    class="submit submit-auto-width"
                                                    type="submit"
                                                >
                                                    Enviar mensagem
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                            <div class="col-lg-4 pl-50 d-lg-block d-none">
                                <img
                                    class="border-radius-15 mt-50"
                                    src="assets/imgs/page/contact-2.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
