{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Páginas <span></span> Minha Conta
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Pedidos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Rastreie seu pedido</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>Meu endereço</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Detalhes da conta</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="page-login.html"><i class="fi-rs-sign-out mr-10"></i>Sair</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content pl-50">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Olá {{request.user|title}}!</h3>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                Do seu painel de conta, você pode facilmente verificar e visualizar seus <a href="#">pedidos recentes</a>,<br />
                                                gerenciar seus <a href="#">endereços de envio e cobrança</a> e <a href="#">editar sua senha e detalhes da conta.</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Seus Pedidos</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Pedido</th>

                                                            <th>Data</th>
                                                            <th>Status</th>
                                                            <th>Status de Pgto.</th>
                                                            <th>Total</th>
                                                            <th>Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for o in orders %}
                                                        <tr>
                                                            <td>PEDIDO_Nº{{o.id}}</td>
                                                            <td>{{o.data_pedido}}</td>
                                                            <td>{{o.status_produto|title}}</td>
                                                            {% if o.status_pagamento == True%}
                                                            <td ><i class="fas fa-check-circle text-success"></i></i></td>
                                                            {% else %}
                                                            <td class="fas fa-times text-danger"></td>
                                                            {% endif %}
                                                            <td>R${{o.preco}}</td>
                                                            <td><a href="{% url 'core:order-detail' o.id %}" class="btn-small d-block">Ver</a></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Rastreio de pedidos</h3>
                                        </div>
                                        <div class="card-body contact-from-area">
                                            <p>Para rastrear seu pedido, insira seu ID de pedido na caixa abaixo e pressione o botão "Rastrear". Isso foi fornecido a você em seu recibo e no e-mail de confirmação que você deve ter recebido.</p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                        <div class="input-style mb-20">
                                                            <label>ID do pedido</label>
                                                            <input name="order-id" placeholder="Encontrado no seu e-mail de confirmação de pedido" type="text" />
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>E-mail de cobrança</label>
                                                            <input name="billing-email" placeholder="E-mail usado durante o checkout" type="email" />
                                                        </div>
                                                        <button class="submit submit-auto-width" type="submit">Rastrear</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddAddress" aria-expanded="false" aria-controls="collapseAddAddress">
                                                            Adicionar endereço
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="collapseAddAddress">
                                                    <div class="card-body">
                                                        <form class="eb-4" method="POST">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="logradouro">Logradouro</label>
                                                                    <input placeholder="Digite o logradouro" required class="form-control" name="logradouro" id="logradouro" autocomplete="address-line1" type="text" />
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="numero">Número</label>
                                                                    <input placeholder="Digite o número" class="form-control" name="numero" id="numero" type="text" />
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="complemento">Complemento</label>
                                                                    <input placeholder="Digite o complemento" class="form-control" name="complemento" id="complemento" type="text" />
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="bairro">Bairro</label>
                                                                    <input placeholder="Digite o bairro" required class="form-control" name="bairro" id="bairro" autocomplete="address-level2" type="text" />
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="localidade">Localidade</label>
                                                                    <input placeholder="Digite a localidade" required class="form-control" name="localidade" id="localidade" autocomplete="address-level1" type="text" />
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="uf">UF</label>
                                                                    <input placeholder="Digite a UF" required class="form-control" name="uf" id="uf" minlength="2" maxlength="2" pattern="[A-Za-z]{2}" title="Insira uma UF válida (ex: SP)" type="text" />
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="cep">CEP</label>
                                                                    <input placeholder="Digite o CEP" required class="form-control" name="cep" id="cep" minlength="8" maxlength="9" pattern="\d{5}-?\d{3}" title="Por favor, insira um CEP válido (ex: 12345-678)" type="text" />
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="celular">Celular</label>
                                                                    <input placeholder="Digite o celular" class="form-control" name="celular" id="celular" type="tel" pattern="\(\d{2}\)\s?\d{4,5}-\d{4}" title="Formato esperado: (00) 00000-0000" />
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Salvar endereço</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="mb-0">Endereço de cobrança</h3>
                                                </div>
                                                    {% if addresses %}
                                                        {% for address in addresses %}
                                                            <div class="card-body border rounded">
                                                                <address>
                                                                    <p><strong>Logradouro:</strong> {{ address.logradouro }}, <strong>Número:</strong> {{ address.numero }}</p>
                                                                    <p><strong>Bairro:</strong> {{ address.bairro }}, <strong>Localidade:</strong> {{ address.localidade }}, <strong>UF:</strong> {{ address.uf }}</p>
                                                                    <p><strong>CEP:</strong> {{ address.cep }}</p>
                                                                    <p><strong>Celular:</strong> {{ address.celular }}</p>
                                                                </address>
                                                                <button class="btn set-default-address" data-address-id="{{ address.id }}">Tornar Padrão</button>
                                                                <button class="btn btn-danger delete-address" data-address-id="{{ address.id }}">Deletar</button>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>Você não possui endereços cadastrados.</p>
                                                    {% endif %}
                                                 </div>
                                            </div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Endereço de envio</h5>
                                                </div>
                                                <div class="card-body">
                                                    <address>
                                                        4299 Express Lane<br />
                                                        Sarasota, <br />FL 34249 USA <br />Telefone: 1.941.227.4444
                                                    </address>
                                                    <p>Sarasota</p>
                                                    <a href="#" class="btn-small">Editar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                                                                      <div class="row">
                                                                                        <div class="col-lg-12">
                                                                                          <div class="card">
                                                                                            <div class="card-header">
                                                                                              <h5 class="mb-0">
                                                                                                <button class="btn btn-link" type="button" id="addAddressButton">
                                                                                                  Adicionar endereço
                                                                                                </button>
                                                                                              </h5>
                                                                                            </div>
                                                                                            <div class="card-body">
                                                                                              <form method="POST" id="addressForm">
                                                                                                {% csrf_token %}
                                                                                                <div id="addressFields">
                                                                                                  <div class="address-group" id="address-group-0">
                                                                                                    <div class="row">
                                                                                                      <div class="form-group col-md-6">
                                                                                                        <label for="logradouro_0">Logradouro</label>
                                                                                                        <input type="text" id="logradouro_0" name="logradouro_0" placeholder="Logradouro" required>
                                                                                                      </div>
                                                                                                      <div class="form-group col-md-6">
                                                                                                        <label for="numero_0">Número</label>
                                                                                                        <input type="text" id="numero_0" name="numero_0" placeholder="Número">
                                                                                                      </div>
                                                                                                      <div class="form-group col-md-6">
                                                                                                        <label for="complemento_0">Complemento</label>
                                                                                                        <input type="text" id="complemento_0" name="complemento_0" placeholder="Complemento">
                                                                                                      </div>
                                                                                                      <div class="form-group col-md-6">
                                                                                                        <label for="bairro_0">Bairro</label>
                                                                                                        <input type="text" id="bairro_0" name="bairro_0" placeholder="Bairro" required>
                                                                                                      </div>
                                                                                                      <div class="form-group col-md-6">
                                                                                                        <label for="localidade_0">Localidade</label>
                                                                                                        <input type="text" id="localidade_0" name="localidade_0" placeholder="Localidade" required>
                                                                                                      </div>
                                                                                                      <div class="form-group col-md-6">
                                                                                                        <label for="uf_0">UF</label>
                                                                                                        <input type="text" id="uf_0" name="uf_0" placeholder="UF" required>
                                                                                                      </div>
                                                                                                      <div class="form-group col-md-6">
                                                                                                        <label for="cep_0">CEP</label>
                                                                                                        <input type="text" id="cep_0" name="cep_0" placeholder="CEP" required>
                                                                                                      </div>
                                                                                                      <div class="form-group col-md-6">
                                                                                                        <label for="celular_0">Celular</label>
                                                                                                        <input type="tel" id="celular_0" name="celular_0" placeholder="Celular">
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div>
                                                                                                <input type="hidden" name="num_addresses" value="1" id="numAddresses">
                                                                                                <button type="submit" class="btn btn-fill-out submit font-weight-bold">Salvar endereços</button>
                                                                                              </form>
                                                                                            </div>
                                                                                          </div>
                                                                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
