{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<head>
    <style>
    input[type="range"]{
        -webkit-appearance: none;
        margin-right: 15px;
        height: 7px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        background-image: linear-gradient(#3bb77e,#3bb77e);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #3bb77e;
        cursor: ew-resize;
        box-shadow: 0 0 2px 0 #555;
        transition: background .3s ease-in-out;
    }

    input[type="range"]: -webkit-slider-thumb {
        -webkit-appearance: none;
        box-shadow:none;
        border: none;
        background: transparent;
    }
    </style>
</head>
<main class="main">
    <div class="container mb-30">
        <div class="row flex-row-reverse">
            <div class="col-lg-4-5">
                <section class="home-slider position-relative mb-30">
                    <div class="home-slide-cover mt-30">
                        <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                            <div class="single-hero-slider single-animation-wrap"
                                style="background-image: url({% static 'assets/imgs/slider/slider-1.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        Não perca as ofertas<br />
                                        incríveis do marketplace
                                    </h1>
                                    <p class="mb-65">Inscreva-se para receber a newsletter diária</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="Seu endereço de email" />
                                        <button class="btn" type="submit">Inscreva</button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-hero-slider single-animation-wrap"
                                style="background-image: url({% static 'assets/imgs/slider/slider-2.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        Verduras Frescas<br />
                                        Grande desconto
                                    </h1>
                                    <p class="mb-65">Economize até 50% no seu primeiro pedido</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="Seu endereço de email" />
                                        <button class="btn" type="submit">Inscreva</button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-hero-slider single-animation-wrap"
                                style="background-image: url({% static 'assets/imgs/slider/slider-3.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        Café em Grãos<br />
                                        Oferta por Tempo Limitado
                                    </h1>
                                    <p class="mb-65">Economize até 50% no seu primeiro pedido</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="Seu endereço de email" />
                                        <button class="btn" type="submit">Inscreva</button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-hero-slider single-animation-wrap"
                                style="background-image: url({% static 'assets/imgs/slider/slider-7.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        Ofertas Imperdíveis<br />
                                        em Produtos Sustentáveis
                                    </h1>
                                    <p class="mb-65">Economize até 50% no seu primeiro pedido</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="Seu endereço de email" />
                                        <button class="btn" type="submit">Inscreva</button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-hero-slider single-animation-wrap"
                                style="background-image: url({% static 'assets/imgs/slider/slider-4.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        Novidades que<br />
                                        Transformam o Seu Consumo
                                    </h1>
                                    <p class="mb-65">Economize até 50% no seu primeiro pedido</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="Seu endereço de email" />
                                        <button class="btn" type="submit">Inscreva</button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-hero-slider single-animation-wrap"
                                style="background-image: url({% static 'assets/imgs/slider/slider-8.png' %})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40">
                                        Descubra o Melhor<br />
                                        Em Sustentabilidade
                                    </h1>
                                    <p class="mb-65">Economize até 50% no seu primeiro pedido</p>
                                    <form class="form-subcriber d-flex">
                                        <input type="email" placeholder="Seu endereço de email" />
                                        <button class="btn" type="submit">Inscreva</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="slider-arrow hero-slider-1-arrow"></div>
                    </div>
                </section>
                <!--End hero-->

                <!--End category slider-->
                <section class="product-tabs section-padding position-relative">
                    <div class="section-title style-2">
                        <h3>Produtos Populares</h3>
                        <ul class="nav nav-tabs links" id="myTab" role="tablist">
                            {% for c in categorias|slice:":5" %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link{% if forloop.first %} active{% endif %}"
                                    id="nav-tab-{{ forloop.counter }}" data-bs-toggle="tab"
                                    data-bs-target="#tab-{{ forloop.counter }}" type="button" role="tab"
                                    aria-controls="tab-{{ forloop.counter }}"
                                    aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" href="{% url 'core:category-product-list' c.cid %}">{{ c.titulo}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">
                                {% for p in produtos %}
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn"
                                        data-wow-delay=".1s">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="{% url 'core:product-detail' p.pid %}">
                                                    <img class="default-img" src="{{ p.imagem.url }}" alt=""
                                                        style="aspect-ratio: 1/1; object-fit: cover;" />
                                                    <img class="hover-img" src="{{ p.imagem.url }}" alt=""
                                                        style="aspect-ratio: 3/4; object-fit: cover;" />
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Adicionar à Wishlist" class="action-btn add-to-wishlist" data-product-item="{{p.id}}"
                                                    ><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Comparar" class="action-btn" href="shop-compare.html"><i
                                                        class="fi-rs-shuffle"></i></a>
                                                <a aria-label="Visualização Rápida" class="action-btn"
                                                    data-bs-toggle="modal" data-bs-target="#quickViewModal{{p.pid}}"
                                                    href="{% url 'core:product-detail' p.pid %}"><i
                                                        class="fi-rs-eye"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                {% for badge in p.badges %}
                                                    {% if badge == "hot" %}
                                                        <span class="{{ badge }}">Em Destaque</span>
                                                    {% elif badge == "new" %}
                                                        <span class="{{ badge }}">Novo</span>
                                                    {% elif badge == "sale" %}
                                                        <span class="{{ badge }}">Em Promoção</span>
                                                    {% elif badge == "bestseller" %}
                                                        <span class="{{ badge }}">Mais vendido</span>
                                                    {% elif badge == "trending" %}
                                                        <span class="{{ badge }}">Tendência</span>
                                                    {% elif badge == "recommended" %}
                                                        <span class="{{ badge }}">Recomendado</span>
                                                    {% elif badge == "exclusive_deal" %}
                                                        <span class="{{ badge }}">Oferta Exclusiva</span>
                                                    {% elif badge == "free_shipping" %}
                                                        <span class="{{ badge }}">Frete Grátis</span>
                                                    {% elif badge == "best_price" %}
                                                        <span class="{{ badge }}">Melhor Preço</span>
                                                    {% elif badge == "just_arrived" %}
                                                        <span class="{{ badge }}">Recém-Chegado</span>
                                                    {% elif badge == "limited_edition" %}
                                                        <span class="{{ badge }}">Edição Limitada</span>
                                                    {% elif badge == "organic" %}
                                                        <span class="{{ badge }}">Orgânico</span>
                                                    {% elif badge == "handmade" %}
                                                        <span class="{{ badge }}">Feito à Mão</span>
                                                    {% elif badge == "locally_made" %}
                                                        <span class="{{ badge }}">Produzido Localmente</span>
                                                    {% elif badge == "warranty" %}
                                                        <span class="{{ badge }}">Com Garantia</span>
                                                    {% elif badge == "certified" %}
                                                        <span class="{{ badge }}">Certificado</span>
                                                    {% elif badge == "five-star-rated" %}
                                                        <span class="{{ badge }}">5 Estrelas</span>
                                                    {% elif badge == "last_units" %}
                                                        <span class="{{ badge }}">Últimas Unidades</span>
                                                    {% elif badge == "flash_sale" %}
                                                        <span class="{{ badge }}">Oferta Relâmpago</span>
                                                    {% elif badge == "today_only" %}
                                                        <span class="{{ badge }}">Por tempo limitado</span>
                                                    {% elif badge == "gift_idea" %}
                                                        <span class="{{ badge }}">Sugestão de Presente</span>
                                                    {% elif badge == "most_searched" %}
                                                        <span class="{{ badge }}">Mais Procurado</span>
                                                    {% elif badge == "combo_deal" %}
                                                        <span class="{{ badge }}">Combo</span>
                                                    {% elif badge == "online_only" %}
                                                        <span class="{{ badge }}">Online</span>
                                                    {% elif badge == "ready_to_ship" %}
                                                        <span class="{{ badge }}">Envio Imediato</span>
                                                    {% elif badge == "pre_order" %}
                                                        <span class="{{ badge }}">Pré-venda</span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="shop-grid-right.html">{{ p.categoria.titulo }}</a>
                                            </div>
                                            <h2><a href="{% url 'core:product-detail' p.pid %}">{{ p.titulo }}</a></h2>
                                            <div class="product-rate-cover">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: {{ p.media_avaliacoes }}%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted">({{ p.media_avaliacoes|floatformat:1 }})</span>
                                            </div>
                                            <div>
                                                <span class="font-small text-muted">Por <a
                                                        href="{% url 'core:vendor-detail' p.vendedor.vid %}">{{p.vendedor }}</a></span>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-price">
                                                    <span>R$</span><span class="current-product-price-{{ p.id }}">{{ p.preco }}</span>
                                                    <br>
                                                    <span class="old-price">R$ {{ p.preco_antigo }}</span>
                                                </div>
                                                <div class="progress">
                                                <span class="progress-bar" role="progressbar" style="width: {{ p.quantidade_vendida }}%;" aria-valuenow="{{ p.quantidade_vendida }}" aria-valuemin="0" aria-valuemax="100">{{ p.quantidade_vendida }}% vendido</span>
                                                </div>
                                                <div class="add-cart">
                                                    <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.id }}">
                                                    <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}">
                                                    <input type="hidden" class="product-image-{{ p.id }}" value="{{p.imagem.url}}">
                                                    <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                    <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.titulo }}">

                                                    <button class="add add-to-cart-btn" data-index="{{ p.id }}" style="border: none;" id="add-to-cart-btn"><i class="fi-rs-shopping-cart mr-5"></i>Adicionar</button>
                                                    <button style="border: none; background: none;" class="add-to-wishlist" data-product-item="{{p.id}}"><i class="fi-rs-heart" style="fill: aqua;"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!--end product card-->
                            </div>
                            <!--End product-grid-4-->
                        </div>
                        <!--En tab one-->
                        <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                            <div class="row product-grid-4">
                                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="shop-product-right.html">
                                                    <img class="default-img"
                                                        src="{% static 'assets/imgs/shop/product-10-1.jpg' %}" alt="" />
                                                    <img class="hover-img"
                                                        src="{% static 'assets/imgs/shop/product-10-2.jpg' %}" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn"
                                                    href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i
                                                        class="fi-rs-shuffle"></i></a>
                                                <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal"
                                                    data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="shop-grid-right.html">Snack</a>
                                            </div>
                                            <h2><a href="shop-product-right.html">Seeds of Change Organic Quinoa, Brown,
                                                    & Red Rice</a></h2>
                                            <div class="product-rate-cover">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                                            </div>
                                            <div>
                                                <span class="font-small text-muted">By <a
                                                        href="vendor-details-1.html">NestFood</a></span>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-price">
                                                    <span>$28.85</span>
                                                    <span class="old-price">$32.8</span>
                                                </div>
                                                <div class="add-cart">
                                                    <a class="add" href="shop-cart.html"><i
                                                            class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                                </div>
                                            </div>media_ava
                                        </div>
                                    </div>
                                </div>
                                <!--end product card-->
                            </div>
                        </div>
                    </div>
                </section>
                <!--Products Tabs-->

                <section class="section-padding pb-5">
                    <div class="container">
                        <div class="section-title">
                            <h3 class="">Sucesso de Vendas</h3>
                            <ul class="nav nav-tabs links" id="myTab-2" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-one-1" data-bs-toggle="tab" data-bs-target="#tab-one-1" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Destaques</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-two-1" data-bs-toggle="tab" data-bs-target="#tab-two-1" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-three-1" data-bs-toggle="tab" data-bs-target="#tab-three-1" type="button" role="tab" aria-controls="tab-three" aria-selected="false">Novos</button>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 d-none d-lg-flex">
                                <div class="banner-img style-2">
                                    <div class="banner-text">
                                        <h2 class="mb-100">Leve o Orgânico ao Seu Lar</h2>
                                        <a href="{% url 'core:product-list' %}" class="btn btn-xs">Compre Agora <i class="fi-rs-arrow-small-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-12">
                                <div class="tab-content" id="myTabContent-1">
                                    <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                                        <div class="carausel-6-columns-cover arrow-center position-relative">
                                            <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                                            <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">
                                                {% for p in produtos %}
                                                <div class="product-cart-wrap">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="{% url 'core:product-detail' p.pid %}">
                                                                <img class="default-img" src="{{p.imagem.url}}" alt="" />
                                                                <img class="hover-img" src="{{p.imagens.url}}" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal{{p.pid}}"> <i class="fi-rs-eye"></i></a>
                                                            <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                        </div>
                                                        <div class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">Economize {{p.obter_porcentagem}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-category">
                                                            <a href="shop-grid-right.html">{{p.vendedor}}</a>
                                                        </div>
                                                        <h2><a href="shop-product-right.html">{{p.titulo|truncatechars:20}}</a></h2>
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width: {{ p.media_avaliacoes }}%"></div>
                                                        </div>
                                                        <div class="product-price mt-10">
                                                            <span>R${{p.preco}} </span>
                                                            <span class="old-price">R${{p.preco_antigo}}</span>
                                                        </div>
                                                        <div class="sold mt-15 mb-15">
                                                            <div class="progress mb-5">
                                                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <span class="font-xs text-heading"> Vendidos: {{p.qtd_vendida}}/{{p.qtd_estoque}}</span>
                                                        </div>
                                                        <a href="shop-cart.html" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Adicionar</a>
                                                    </div>
                                                </div>
                                                {%endfor%}
                                                <!--End product Wrap-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End tab-content-->
                            </div>
                            <!--End Col-lg-9-->
                        </div>
                    </div>
                </section>

                <section class="section-padding pb-5">
                    <div class="section-title">
                        <h3 class="">Ofertas do Dia</h3>
                        <a class="show-all" href="shop-grid-right.html">
                            Todas as Ofertas
                            <i class="fi-rs-angle-right"></i>
                        </a>
                    </div>
                    <div class="row">
                        {% for p in produtos|slice:":3" %}
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="product-cart-wrap style-2">

                                <div class="product-img-action-wrap">
                                    <div class="product-img">
                                        <a href="shop-product-right.html">
                                            <img src="{% static 'assets/imgs/banner/banner-5.png' %}" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="deals-countdown-wrap">
                                        <div class="deals-countdown" data-countdown="{{p.fim_promocao}}"></div>
                                    </div>
                                    <div class="deals-content">
                                        <h2><a href="shop-product-right.html">{{p.titulo}}</a>
                                        </h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> {{p.media_avaliacao}}</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">Por <a
                                                    href="vendor-details-1.html">{{p.vendedor}}</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>R${{p.preco}}</span>
                                                <span class="old-price">R${{p.preco_antigo}}</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="shop-cart.html"><i
                                                        class="fi-rs-shopping-cart mr-5"></i>Adicionar </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                <!--End Deals-->
                <section class="banners">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="banner-img">
                                <img src="{% static 'assets/imgs/banner/banner-1.png' %}" alt="" />
                                <div class="banner-text">
                                    <h4>
                                        Frescos e limpos todos os dias com nossos<br />
                                        produtos
                                    </h4>
                                    <a href="shop-grid-right.html" class="btn btn-xs">Compre agora <i
                                            class="fi-rs-arrow-small-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="banner-img">
                                <img src="{% static 'assets/imgs/banner/banner-2.png' %}" alt="" />
                                <div class="banner-text">
                                    <h4>
                                        Torne seu café da manhã<br />
                                        saudável e fácil
                                    </h4>
                                    <a href="shop-grid-right.html" class="btn btn-xs">Compre agora <i
                                            class="fi-rs-arrow-small-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-md-none d-lg-flex">
                            <div class="banner-img mb-sm-0">
                                <img src="{% static 'assets/imgs/banner/banner-3.png' %}" alt="" />
                                <div class="banner-text">
                                    <h4>Os melhores produtos orgânicos <br />online</h4>
                                    <a href="shop-grid-right.html" class="btn btn-xs">Compre agora <i
                                            class="fi-rs-arrow-small-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End banners-->
            </div>
            <div class="col-lg-1-5 primary-sidebar sticky-sidebar pt-30">
                <div class="sidebar-widget widget-category-2 mb-30">
                    <h5 class="section-title style-1 mb-30">Categorias</h5>
                    <ul>

                        {% for c in categorias|slice:":5" %}
                        <li>
                            <a href="{% url 'core:category-product-list' c.cid %}"> <img src="{{ c.imagem.url }}" />{{ c.titulo }}</a><span class="count">{{ c.produto_count }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Fillter By Price -->
                <!-- Product sidebar Widget -->
                <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
                    <h5 class="section-title style-1 mb-30">Novidades</h5>
                    {% for p in produtos|slice:3 %}
                    <div class="single-post clearfix">
                        <div class="image">
                            <img src="{{ p.imagem.url }}" alt="#" />
                        </div>
                        <div class="content pt-10">
                            <h5><a href="{% url 'core:product-detail' p.pid %}">{{ p.titulo|truncatechars:20 }}</a></h5>
                            <p class="price mb-0 mt-5">R$ {{ p.preco }}</p>
                            <div class="product-rate">
                                <div class="product-rating" style="width: {{ p.media_avaliacoes }}%"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
                    <img src="{% static 'assets/imgs/banner/banner-11.png' %}" alt="" />
                    <div class="banner-text">
                        <span>Orgânico</span>
                        <h4>
                            Economize 17% <br />
                            em <span class="text-brand">Suco Orgânico</span><br />
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="popular-categories section-padding">
        <div class="container">
            <div class="section-title">
                <div class="title">
                    <h3>Compre por categorias</h3>
                    <a class="show-all" href="shop-grid-right.html">
                        Todas as Categorias
                        <i class="fi-rs-angle-right"></i>
                    </a>
                </div>
                <div class="slider-arrow slider-arrow-2 flex-right carausel-8-columns-arrow"
                    id="carausel-8-columns-arrows"></div>
            </div>
            <div class="carausel-8-columns-cover position-relative">
                <div class="carausel-8-columns" id="carausel-8-columns">
                    {% for c in categorias %}
                    <div class="card-1">
                        <figure class="img-hover-scale overflow-hidden">
                            <a href="{% url 'core:category-product-list' c.cid %}"><img
                                    src="{{ c.imagem.url }}" alt="{{ c.titulo }}" /></a>
                        </figure>
                        <h6>
                            <a href="{% url 'core:category-product-list' c.cid %}">{{ c.titulo }}</a>
                        </h6>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--End category slider-->
    <section class="section-padding mb-30">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0">
                    <h4 class="section-title style-1 mb-30 animated animated">Mais Vendidos</h4>
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-1.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Nestle Original Coffee-Mate Coffee Creamer</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-2.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Nestle Original Coffee-Mate Coffee Creamer</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-3.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Nestle Original Coffee-Mate Coffee Creamer</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-md-0">
                    <h4 class="section-title style-1 mb-30 animated animated">Tendências</h4>
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-4.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Organic Cage-Free Grade A Large Brown Eggs</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-5.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>

                                    <a href="shop-product-right.html">Seeds of Change Organic Quinoa, Brown, & Red
                                        Rice</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-6.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Naturally Flavored Cinnamon Vanilla Light Roast
                                        Coffee</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-lg-block">
                    <h4 class="section-title style-1 mb-30 animated animated">Recém Adicionados</h4>
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-7.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Pepperidge Farm Farmhouse Hearty White Bread</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-8.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Organic Frozen Triple Berry Blend</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-9.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Oroweat Country Buttermilk Bread</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-xl-block">
                    <h4 class="section-title style-1 mb-30 animated animated">Bem Classificados</h4>
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-10.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Foster Farms Takeout Crispy Classic Buffalo
                                        Wings</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-11.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">Angie’s Boomchickapop Sweet & Salty Kettle
                                        Corn</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img
                                        src="{% static 'assets/imgs/shop/thumbnail-12.jpg' %}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="shop-product-right.html">All Natural Italian-Style Chicken Meatballs</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">$33.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End 4 columns-->
</main>
{% endblock content %}
