{% extends 'partials/base.html' %} {% load static %} {% block content %}

<div class="invoice invoice-content invoice-6">
    <div class="back-top-home hover-up mt-30 ml-30">
        <a class="hover-up" href="{% url 'core:index' %}"
            ><i class="fi-rs-home mr-5"></i> Homepage</a
        >
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="invoice-inner">
                    <header class="invoice-header">
                        <div class="invoice-logo">
                            <img
                                src="{% static 'assets/imgs/theme/logo.png' %}"
                                alt="logo"
                            />
                        </div>
                        <div class="invoice-title">
                            <h1>NOTA FISCAL</h1>
                            <p>Seu pedido foi processado com sucesso!</p>
                        </div>
                        <div class="invoice-details">
                            <div class="invoice-company">
                                <strong>Organyxhub</strong><br />
                                Rua Augusta, 1500, Jardim Paulista,<br />
                                São Paulo, SP, 01304-001, Brasil<br />
                                Telefone: (+123) 456-7890
                            </div>
                            <div class="invoice-customer">
                                <strong>{{ order.user.get_full_name }}</strong
                                ><br />
                                {% if order.get_shipping_address %}
                                {{order.get_shipping_address.logradouro }} -
                                {{order.get_shipping_address.cep }}<br />
                                {{ order.get_shipping_address.bairro }},
                                {{order.get_shipping_address.localidade }},
                                {{order.get_shipping_address.uf }}<br />
                                Email: {{ order.user.email }} {% else %}
                                <p>Nenhum endereço de entrega encontrado.</p>
                                {% endif %}
                            </div>
                        </div>
                    </header>

                    <section class="invoice-items">
                        <table>
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th class="text-center">Preço Unitário</th>
                                    <th class="text-center">Quantidade</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for item in order.itenspedidocarrinho_set.all%}
                                <tr>
                                    <td>
                                        {{ item.produto.titulo }}<br /><small
                                            >SKU: FWM15VKT</small
                                        >
                                    </td>
                                    <td class="text-center">
                                        R${{ item.preco_unitario }}
                                    </td>
                                    <td class="text-center">
                                        {{ item.quantidade }}
                                    </td>
                                    <td class="text-right">
                                        R${{ item.preco_total }}.00
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3" class="text-end f-w-600">
                                        SubTotal
                                    </td>
                                    <td class="text-right">
                                        R${{ order.preco }}
                                    </td>
                                </tr>
                                {% if order.coupons.all %} {% for coupon in order.coupons.all %}
                                <tr>
                                    <td
                                        colspan="3"
                                        class="text-end f-w-600 text-danger"
                                    >
                                        Cupom ({{ coupon.codigo }})
                                    </td>
                                    <td class="text-right text-danger">
                                        -{{ coupon.desconto }}%
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td
                                        colspan="3"
                                        class="text-end f-w-600 text-danger"
                                    >
                                        Desconto Total
                                    </td>
                                    <td class="text-right text-danger">
                                        -R${{order.get_discount_amount|floatformat:2}}
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td colspan="3" class="text-end f-w-600">
                                        Total Final
                                    </td>
                                    <td class="text-right f-w-600">
                                        {% if order.coupons.all %}
                                        <span
                                            class="text-decoration-line-through text-muted"
                                            >R${{ order.preco }}</span
                                        ><br />
                                        <span class="text-success">
                                            R${{order.get_final_price|floatformat:2}}</span
                                        >
                                        {% else %} R${{ order.preco }} {%endif%}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <footer class="invoice-footer">
                        <div class="invoice-info">
                            <div class="invoice-number">
                                <strong>NFe Nº:</strong> {{ order.num_fatura }}
                            </div>
                            <div class="invoice-date">
                                <strong>Data de Pgto.:</strong>
                                {{order.data_pedido|date:"d \d\e F \d\e Y" }}
                            </div>
                            <div class="invoice-payment">
                                <strong>Forma de Pagamento:</strong> PayPal
                            </div>
                        </div>
                        <div class="invoice-summary">
                            <div class="invoice-total">
                                <p>
                                    <strong>Total Amount:</strong>
                                    R${{order.get_final_price|floatformat:2 }}
                                </p>
                                <p class="mb-0 text-muted">
                                    Impostos Incluídos
                                </p>
                            </div>
                            <p>
                                Obrigado {{ order.user.get_full_name }} pela
                                preferência. Organyxhub: Grow Like a Plant
                            </p>
                        </div>
                    </footer>
                    <div class="invoice-actions">
                        <button
                            class="btn btn-lg btn-custom btn-print hover-up"
                            onclick="window.print()"
                        >
                            Imprimir
                        </button>
                        <button
                            class="btn btn-lg btn-custom btn-download hover-up"
                            id="invoice_download_btn"
                        >
                            Baixar PDF
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block extrajs %}
<script src="{% static 'assets/js/invoice/jspdf.min.js' %}"></script>
<script src="{% static 'assets/js/invoice/invoice.js' %}"></script>
{% endblock %}
