{% extends 'partials/base.html' %} 
{% load static %} 
{% block content %}
    <div 
        id="react-payment-completed-page"
        data-pedidos='[
            {% for p in pedidocarrinho %}
            {
                "orderid": "{{ p.orderid }}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]'
    ></div>
{% endblock content %} 
{% block extrajs %}
<script src="{% static 'assets/js/invoice/jspdf.min.js' %}"></script>
<script src="{% static 'assets/js/invoice/invoice.js' %}"></script>
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
{% endblock %}