{% extends 'partials/base.html' %} {% load static %} {% block content %}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"
                    ><i class="fi-rs-home mr-5"></i>Início</a
                >
                <span></span> Páginas <span></span> Guia de Compra
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h2>Guia de Compra</h2>
                                    <div
                                        class="entry-meta meta-1 meta-3 font-xs mt-15 mb-15"
                                    >
                                        <span class="post-by"
                                            >Por <a href="#">Jonh</a></span
                                        >
                                        <span class="post-on has-dot"
                                            >9 Abril 2020</span
                                        >
                                        <span class="time-reading has-dot"
                                            >Leitura de 8 minutos</span
                                        >
                                        <span class="hit-count has-dot"
                                            >29 mil Visualizações</span
                                        >
                                    </div>
                                </div>
                                <figure class="border-radius-15 mb-30">
                                    <img
                                        class="border-radius-15"
                                        src="assets/imgs/page/guide-1.png"
                                        alt=""
                                    />
                                </figure>
                                <div class="single-content mb-50">
                                    <h3>1. Registro de Conta</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Nulla modi dolores
                                        neque omnis ipsa? Quia, nam voluptas!
                                        Aut, magnam molestias:
                                    </p>
                                    <ul class="mb-30">
                                        <li>Nome (obrigatório)</li>
                                        <li>Idade (obrigatório)</li>
                                        <li>
                                            Data de nascimento (obrigatório)
                                        </li>
                                        <li>Passaporte/ RG (obrigatório)</li>
                                        <li>Profissão atual (obrigatório)</li>
                                        <li>
                                            Número de telefone celular
                                            (obrigatório)
                                        </li>
                                        <li>
                                            Endereço de e-mail (obrigatório)
                                        </li>

                                        <li></li>
                                        <li>Hobbies e interesses (opcional)</li>
                                        <li>Perfis sociais (opcional)</li>
                                    </ul>
                                    <h3>2. Selecione o Produto</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Suscipit officia
                                        necessitatibus repellat placeat aut enim
                                        recusandae assumenda adipisci quisquam,
                                        deserunt iure veritatis cupiditate modi
                                        aspernatur accusantium, mollitia
                                        doloribus. Velit, iste.
                                    </p>
                                    <h3>3. Confirme o Conteúdo do Pedido</h3>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur
                                        adipisicing elit. Libero ut autem sed!
                                        Assumenda, nostrum non doloribus
                                        tenetur, pariatur veritatis harum natus
                                        ipsam maiores dolorem repudiandae
                                        laboriosam, cupiditate odio earum eum?
                                    </p>
                                    <h3>4.Transação Concluída</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Ipsam nesciunt nam aut
                                        magnam libero aspernatur eaque
                                        praesentium? Tempore labore quis neque?
                                        Magni.
                                    </p>
                                    <h3>5. Cartões de Crédito Aceitos</h3>
                                    <ul>
                                        <li>Visa</li>
                                        <li>Mastercard</li>
                                        <li>American Express</li>
                                        <li>Discover</li>
                                    </ul>
                                    <span
                                        >*Os impostos são calculados pelo seu
                                        banco local e localização.</span
                                    >
                                    <h3 class="mt-30">
                                        6. Download e Instalação
                                    </h3>
                                    <ul>
                                        <li>
                                            Conteúdo atualizado regularmente
                                        </li>
                                        <li>
                                            Pagamento seguro e sem complicações
                                        </li>
                                        <li>Pagamento em 1 clique</li>
                                        <li>
                                            Fácil acesso e painel de usuário
                                            inteligente
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 primary-sidebar sticky-sidebar">
                            <div class="widget-area">
                                <div
                                    class="sidebar-widget-2 widget_search mb-50"
                                >
                                    <div class="search-form">
                                        <form action="#">
                                            <input
                                                type="text"
                                                placeholder="Pesquisar…"
                                            />
                                            <button type="submit">
                                                <i class="fi-rs-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div
                                    class="sidebar-widget widget-category-2 mb-30"
                                >
                                    <h5 class="section-title style-1 mb-30">
                                        Categoria
                                    </h5>
                                    <ul>
                                        <li>
                                            <a href="shop-grid-right.html">
                                                <img
                                                    src="assets/imgs/theme/icons/category-1.svg"
                                                    alt=""
                                                />Leites e Laticínios</a
                                            ><span class="count">30</span>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html">
                                                <img
                                                    src="assets/imgs/theme/icons/category-2.svg"
                                                    alt=""
                                                />Roupas</a
                                            ><span class="count">35</span>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html">
                                                <img
                                                    src="assets/imgs/theme/icons/category-3.svg"
                                                    alt=""
                                                />Ração para animais de
                                                estimação </a
                                            ><span class="count">42</span>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html">
                                                <img
                                                    src="assets/imgs/theme/icons/category-4.svg"
                                                    alt=""
                                                />Ingredientes para
                                                confeitaria</a
                                            ><span class="count">68</span>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html">
                                                <img
                                                    src="assets/imgs/theme/icons/category-5.svg"
                                                    alt=""
                                                />Frutas Frescas</a
                                            ><span class="count">87</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product sidebar Widget -->
                                <div
                                    class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10"
                                >
                                    <h5 class="section-title style-1 mb-30">
                                        Tendências
                                    </h5>
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img
                                                src="assets/imgs/shop/thumbnail-3.jpg"
                                                alt="#"
                                            />
                                        </div>
                                        <div class="content pt-10">
                                            <h5>
                                                <a
                                                    href="shop-product-detail.html"
                                                    >Cardigan Chen</a
                                                >
                                            </h5>
                                            <p class="price mb-0 mt-5">
                                                $99.50
                                            </p>
                                            <div class="product-rate">
                                                <div
                                                    class="product-rating"
                                                    style="width: 90%"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img
                                                src="assets/imgs/shop/thumbnail-4.jpg"
                                                alt="#"
                                            />
                                        </div>
                                        <div class="content pt-10">
                                            <h6>
                                                <a
                                                    href="shop-product-detail.html"
                                                    >Suéter Chen</a
                                                >
                                            </h6>
                                            <p class="price mb-0 mt-5">
                                                $89.50
                                            </p>
                                            <div class="product-rate">
                                                <div
                                                    class="product-rating"
                                                    style="width: 80%"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img
                                                src="assets/imgs/shop/thumbnail-5.jpg"
                                                alt="#"
                                            />
                                        </div>
                                        <div class="content pt-10">
                                            <h6>
                                                <a
                                                    href="shop-product-detail.html"
                                                    >Jaqueta Colorida</a
                                                >
                                            </h6>
                                            <p class="price mb-0 mt-5">$25</p>
                                            <div class="product-rate">
                                                <div
                                                    class="product-rating"
                                                    style="width: 60%"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-post clearfix">
                                        <div class="image">
                                            <img
                                                src="assets/imgs/shop/thumbnail-6.jpg"
                                                alt="#"
                                            />
                                        </div>
                                        <div class="content pt-10">
                                            <h6>
                                                <a
                                                    href="shop-product-detail.html"
                                                    >Lorem, ipsum</a
                                                >
                                            </h6>
                                            <p class="price mb-0 mt-5">$25</p>
                                            <div class="product-rate">
                                                <div
                                                    class="product-rating"
                                                    style="width: 60%"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="banner-img wow fadeIn mb-40 animated d-lg-block d-none"
                                >
                                    <img
                                        src="assets/imgs/banner/banner-11.png"
                                        alt=""
                                    />
                                    <div class="banner-text">
                                        <span>Orgânico</span>
                                        <h4>
                                            Economize 17% <br />
                                            em
                                            <span class="text-brand"
                                                >Orgânico</span
                                            ><br />
                                            Suco
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
