{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div id="react-search-page" data-query="{{ query }}" data-count="{{ produtos.count }}" data-produtos='[
            {% for p in produtos %}
            {
                "id": "{{ p.id|escapejs }}",
                "pid": "{{ p.pid|escapejs }}",
                "titulo": "{{ p.titulo|escapejs }}",
                "imagem": "{% if p.imagem %}{{ p.imagem.url|escapejs }}{% endif %}",
                "categoria_titulo": "{{ p.categoria.titulo|escapejs }}",
                "media_avaliacoes": "{{ p.media_avaliacoes|escapejs }}",
                "vendedor_titulo": "{% if p.vendedor %}{{ p.vendedor.title|escapejs }}{% endif %}",
                "preco": "{{ p.preco|escapejs }}",
                "preco_antigo": "{{ p.preco_antigo|escapejs }}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]'></div>
{% endblock content %}