{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Páginas <span></span> Termos de Serviço
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    <div class="single-header style-2">
                                        <h2>Termos de Serviço</h2>
                                        <div class="entry-meta meta-1 meta-3 font-xs mt-15 mb-15">
                                            <span class="post-by">Por <a href="#">D. Marques</a></span>
                                            <span class="post-on has-dot">9 de Abril de 2023</span>
                                            <span class="time-reading has-dot">8 mins read</span>
                                            <span class="hit-count has-dot">29k Views</span>
                                        </div>
                                    </div>
                                    <div class="single-content mb-50">
                                        <p>Por favor, leia estes Termos de Serviço (“Termos”, “Termos de Serviço”) cuidadosamente antes de usar o site https://Evara.com (o “Serviço”) operado pela Evara (“nós”, “nos” ou “nosso”).</p>
                                        <p>Seu acesso e uso do Serviço estão condicionados à sua aceitação e conformidade com estes Termos. Estes Termos se aplicam a todos os visitantes, usuários e outros que acessam ou usam o Serviço.</p>
                                        <p>Ao acessar ou usar o Serviço, você concorda em ficar vinculado a estes Termos. Se você discordar de qualquer parte dos termos, você não poderá acessar o Serviço.</p>
                                        <h4>Direitos e restrições</h4>
                                        <ol>
                                            <li>Os membros devem ter pelo menos 18 anos de idade.</li>
                                            <li>Os membros recebem um direito limitado no tempo, não exclusivo, revogável, intransferível e não sublicenciável de acessar a parte do curso online correspondente à compra.</li>
                                            <li>A parte do curso online correspondente à compra estará disponível para o Membro enquanto o curso for mantido pela Empresa, o que será no mínimo um ano após a compra do Membro.</li>
                                            <li>Os vídeos do curso são fornecidos como um stream de vídeo e não são baixáveis.</li>
                                            <li>Ao concordar em conceder tal acesso, a Empresa não se obriga a manter o curso, ou a mantê-lo em sua forma atual.</li>
                                        </ol>
                                        <h4>Links para outros sites</h4>
                                        <p>Nosso Serviço pode conter links para sites ou serviços de terceiros que não são de propriedade ou controlados pela Evara.</p>
                                        <p>A Evara não tem controle sobre, e não assume nenhuma responsabilidade pelo, conteúdo, políticas de privacidade ou práticas de quaisquer sites ou serviços de terceiros. Você reconhece e concorda ainda que a Evara não será responsável ou legalmente responsável, direta ou indiretamente, por qualquer dano ou perda causada ou alegadamente causada por ou em conexão com o uso ou confiança em qualquer conteúdo, bens ou serviços disponíveis em ou através de tais sites ou serviços.</p>
                                        <p>Recomendamos fortemente que você leia os termos e condições e as políticas de privacidade de quaisquer sites ou serviços de terceiros que você visitar.</p>
                                        <h4>Rescisão</h4>
                                        <p>Podemos rescindir ou suspender o acesso ao nosso Serviço imediatamente, sem aviso prévio ou responsabilidade, por qualquer motivo, incluindo, sem limitação, se você violar os Termos.</p>
                                        <p>Todas as disposições dos Termos que, por sua natureza, devam sobreviver à rescisão, sobreviverão à rescisão, incluindo, sem limitação, disposições de propriedade, renúncias de garantia, indenização e limitações de responsabilidade.</p>
                                        <h4>Lei aplicável</h4>
                                        <p>Estes Termos serão regidos e interpretados de acordo com as leis do Vietnã, sem levar em consideração suas disposições de conflito de leis.</p>
                                        <p>Nossa falha em aplicar qualquer direito ou disposição destes Termos não será considerada uma renúncia desses direitos. Se alguma disposição destes Termos for considerada inválida ou inexequível por um tribunal, as disposições restantes destes Termos permanecerão em vigor. Estes Termos constituem o acordo completo entre nós em relação ao nosso Serviço e substituem e substituem quaisquer acordos anteriores que possamos ter entre nós em relação ao Serviço.</p>
                                        <h4>Mudanças</h4>
                                        <p>Reservamo-nos o direito, a nosso exclusivo critério, de modificar ou substituir estes Termos a qualquer momento. Se uma revisão for material, tentaremos fornecer pelo menos 30 dias de aviso prévio antes de quaisquer novos termos entrarem em vigor. O que constitui uma mudança material será determinado a nosso exclusivo critério.</p>
                                        <p>Ao continuar acessando ou usando nosso Serviço após essas revisões entrarem em vigor, você concorda em ficar vinculado aos termos revisados. Se você não concordar com os novos termos, por favor, pare de usar o Serviço.</p>
                                        <h4>Contate-nos</h4>
                                        <p>Se você tiver alguma dúvida sobre estes Termos, por favor, <a href="page-contact.html">contate-nos</a>.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                                <div class="widget-area">
                                    <div class="sidebar-widget-2 widget_search mb-50">
                                        <div class="search-form">
                                            <form action="#">
                                                <input type="text" placeholder="Search…" />
                                                <button type="submit"><i class="fi-rs-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget widget-category-2 mb-30">
                                        <h5 class="section-title style-1 mb-30">Category</h5>
                                        <ul>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-1.svg" alt="" />Milks & Dairies</a><span class="count">30</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-2.svg" alt="" />Clothing</a><span class="count">35</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-3.svg" alt="" />Pet Foods </a><span class="count">42</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-4.svg" alt="" />Baking material</a><span class="count">68</span>
                                            </li>
                                            <li>
                                                <a href="shop-grid-right.html"> <img src="assets/imgs/theme/icons/category-5.svg" alt="" />Fresh Fruit</a><span class="count">87</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Product sidebar Widget -->
                                    <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
                                        <h5 class="section-title style-1 mb-30">Trending Now</h5>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="assets/imgs/shop/thumbnail-3.jpg" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h5><a href="shop-product-detail.html">Chen Cardigan</a></h5>
                                                <p class="price mb-0 mt-5">$99.50</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="assets/imgs/shop/thumbnail-4.jpg" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
                                                <p class="price mb-0 mt-5">$89.50</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 80%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="assets/imgs/shop/thumbnail-5.jpg" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="shop-product-detail.html">Colorful Jacket</a></h6>
                                                <p class="price mb-0 mt-5">$25</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-post clearfix">
                                            <div class="image">
                                                <img src="assets/imgs/shop/thumbnail-6.jpg" alt="#" />
                                            </div>
                                            <div class="content pt-10">
                                                <h6><a href="shop-product-detail.html">Lorem, ipsum</a></h6>
                                                <p class="price mb-0 mt-5">$25</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="banner-img wow fadeIn mb-40 animated d-lg-block d-none">
                                        <img src="assets/imgs/banner/banner-11.png" alt="" />
                                        <div class="banner-text">
                                            <span>Oganic</span>
                                            <h4>
                                                Save 17% <br />
                                                on <span class="text-brand">Oganic</span><br />
                                                Juice
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}