{% extends 'partials/base.html' %}
{% load static django_vite %}
{% block content %}

    <div 
        id="react-profile-edit-page" 
        data-csrf="{{ csrf_token }}"
        data-errors="{% if form.errors %}<strong>{{form.errors}}</strong>{% endif %}"
        data-profile='{
            "nome": "{{ profile.nome|escapejs }}",
            "bio": "{{ profile.bio|escapejs }}",
            "telefone": "{{ profile.telefone|escapejs }}",
            "imagem": "{% if profile.imagem %}{{ profile.imagem.url }}{% endif %}"
        }'
    ></div>
    
    {% vite_hmr_client %}
    {% vite_asset 'src/profile_edit.jsx' %}

{% endblock content %}
