{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <div 
        id="react-profile-edit-page" 
        data-csrf="{{ csrf_token }}"
        data-errors="{% if form.errors %}<strong>{{form.errors}}</strong>{% endif %}"
        data-profile='{
            "nome": "{{ profile.nome|escapejs }}",
            "bio": "{{ profile.bio|escapejs }}",
            "telefone": "{{ profile.telefone|escapejs }}",
            "imagem": "{% if profile.imagem %}{{ profile.imagem.url }}{% endif %}"
        }'
    ></div>
{% endblock content %}