<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"
                    ><i class="fi-rs-home mr-5"></i>Home</a
                >
                <span></span> Loja <span></span> Wishlist
            </div>
        </div>
    </div>
    <div class="container mb-30 mt-50">
        <div class="row">
            <div class="col-xl-10 col-lg-12 m-auto">
                <form method="post">
                    <!-- Adiciona o formulário aqui -->
                    {% csrf_token %}
                    <div class="mb-50">
                        <h1 class="heading-2 mb-10">Sua Wishlist</h1>
                        <h6 class="text-body">
                            Existem
                            <span class="text-brand">{{wishlist_count}}</span>
                            produtos nesta lista
                        </h6>
                    </div>
                    <div class="table-responsive shopping-summery">
                        <table class="table table-wishlist">
                            <thead>
                                <tr class="main-heading">
                                    <th class="custome-checkbox start pl-30">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            name="checkbox"
                                            id="exampleCheckbox11"
                                            value=""
                                        />
                                        <label
                                            class="form-check-label"
                                            for="exampleCheckbox11"
                                        ></label>
                                    </th>
                                    <th scope="col" colspan="2">Produto</th>
                                    <th scope="col">Preço</th>
                                    <th scope="col">Estoque</th>
                                    <th scope="col">Ação</th>
                                    <th scope="col" class="end">Remover</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for w in wishlist_items %}
                                <tr
                                    class="wishlist-item-row pt-30"
                                    data-wishlist-item-id="{{w.id}}"
                                >
                                    <td class="custome-checkbox pl-30">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            name="checkbox"
                                            id="exampleCheckbox1"
                                            value=""
                                        />
                                        <label
                                            class="form-check-label"
                                            for="exampleCheckbox1"
                                        ></label>
                                    </td>
                                    <td class="image product-thumbnail pt-40">
                                        <img
                                            src="{{ w.produto.imagem.url }}"
                                            style="
                                                aspect-ratio: 1/1;
                                                object-fit: cover;
                                            "
                                            alt="{{w.produto.titulo}}"
                                        />
                                    </td>
                                    <td class="product-des product-name">
                                        <h6>
                                            <a
                                                class="product-name mb-10"
                                                href="{% url 'core:product-detail' w.produto.pid %}"
                                                >{{ w.produto.titulo }}</a
                                            >
                                        </h6>
                                        <div class="product-rate-cover">
                                            <div
                                                class="product-rate d-inline-block"
                                            >
                                                <div
                                                    class="product-rating"
                                                    style="width: #"
                                                >
                                                    {{w.average_rating}}
                                                </div>
                                            </div>
                                            <span
                                                class="font-small ml-5 text-muted"
                                                >({{w.average_rating|floatformat:1}})</span
                                            >
                                        </div>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <span class="text-brand">R$</span
                                        ><span
                                            class="text-brand current-product-price-{{w.produto.pid}}"
                                            >{{w.produto.preco }}</span
                                        >
                                    </td>
                                    <td
                                        class="text-center detail-info"
                                        data-title="Stock"
                                    >
                                        <span class="stock-status in-stock mb-0"
                                            >{% if w.produto.qtd_estoque %}
                                            Disponível {% else %} Esgotado
                                            {%endif%}
                                        </span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <input
                                            type="hidden"
                                            value="1"
                                            id="product-quantity"
                                            class="product-quantity-{{ w.produto.pid }}"
                                        />
                                        <input
                                            type="hidden"
                                            class="product-pid-{{ w.produto.pid }}"
                                            value="{{ w.produto.pid  }}"
                                        />
                                        <input
                                            type="hidden"
                                            class="product-image-{{ w.produto.pid  }}"
                                            value="{{w.produto.imagem.url}}"
                                        />
                                        <input
                                            type="hidden"
                                            class="product-id-{{ w.produto.pid  }}"
                                            value="{{ w.produto.pid  }}"
                                        />
                                        <input
                                            type="hidden"
                                            class="product-title-{{ w.produto.pid  }}"
                                            value="{{ w.produto.titulo }}"
                                        />

                                        <button
                                            class="btn btn-sm add-to-cart-btn"
                                            data-index="{{w.produto.pid}}"
                                        >
                                            Adicionar ao Carrinho
                                        </button>
                                    </td>
                                    <td
                                        class="action text-center"
                                        data-title="Remove"></td>
                                        <button style="border: none;
                                            background: none;<td class="action text-center" data-title="Remove"><button style="border: none; background: none;" class="text-body delete-product" data-product="{{w.produto.pid}}"><i class="fi-rs-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        <p>
                                            Você não possui itens salvos na sua
                                            Wishlist
                                        </p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
